@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Default clipPath for larger screens */
.element {
  clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 75%);
}

/* For smaller screens (less than 768px) */
@media (max-width: 768px) {
  .element {
    clip-path: polygon(0% 0%, 100% 0%, 100% 68%, 0% 74%);
  }
}

.element1 {
  clip-path: polygon(0 48%, 100% 73%, 100% 100%, 0% 100%);
}

/* For smaller screens (less than 768px) */
@media (max-width: 768px) {
  .element1 {
    clip-path: polygon(0 45%, 100% 55%, 100% 100%, 0% 100%);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
